html {
    cursor: none;
    background-color: whitesmoke;
}

.player {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background-color:royalblue;
}

.enemy {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color:darkorange;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.hp {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

.timer {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: absolute;
    top: 40px;
}

.playAgainButton {
    font-size: 100px;
    padding: 50px;
    text-align: center;
    margin-top: 75px;
}
